/**************** global init ****************/
.wrapper {max-width: 720px; margin: 50px auto; position: relative; border-top: 2px solid red; border-bottom: 2px solid red;}
.pager-wrap {text-align: center; position: absolute; width: 100%; bottom: .5em;}
.pager-wrap .pager {color: #666; cursor: pointer;}
.pager-wrap .pager.active {color: #ec670f;}
.bt-angle {font-size: 3em; color: #421812; opacity: .2; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; transition: all .5s;}
.bt-angle:hover {opacity: 1;}
.bt-angle.bt-prev {left: .25em;}
.bt-angle.bt-next {right: .25em;}

/********************** wrapper1 *********************/
.wrapper1 .slide-wrap {position: relative; width: 700%; display: flex;}
.wrapper1 .slide-wrap .slide {width: 14.2857%; flex-shrink: 0;}


/******************* 반응형 ******************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}