.slide-wrapper {position: relative; overflow: hidden; border-top: 2px solid red; border-bottom: 2px solid red;}
.slide-wrapper .slide-wrap {position: relative; z-index: 1;}
.slide-wrapper .slide-wrap.horizontalType {display: flex;}
.slide-wrapper .slide-wrap.verticalType {position: absolute; top: 0; left: 0;}
.slide-wrapper .slide-wrap.fadeType {}
.slide-wrapper .slide-wrap.fadeType .slide {position: absolute; top: 0; left: 0; width: 100%;}
.slide-wrapper .slide-wrap.fadeType .slide:first-child {z-index: 1;}