.slide-wrapper {position: relative; overflow: hidden; border-top: 2px solid red; border-bottom: 2px solid red;}
.slide-wrapper .slide-wrap {position: relative; z-index: 1;}
.slide-wrapper .slide-wrap.horizontalType {display: flex;}
.slide-wrapper .slide-wrap.verticalType {position: absolute; top: 0; left: 0;}
.slide-wrapper .slide-wrap.fadeType {}
.slide-wrapper .slide-wrap.fadeType .slide {position: absolute; top: 0; left: 0; width: 100%;}
.slide-wrapper .slide-wrap.fadeType .slide:first-child {z-index: 1;}
.slide-wrapper .bt-navigation {position: absolute; top: 50%; transform: translateY(-50%); z-index: 2; opacity: .3; transition: all .5s; cursor: pointer;}
.slide-wrapper .bt-navigation:hover {opacity: 1;}
.slide-wrapper .bt-navigation::after {display: block; color: #fff; text-shadow: 0 0 .125em rgba(0, 0, 0, 0.5); font-size: 5em;}
.slide-wrapper .bt-navigation.bt-prev {left: 0;}
.slide-wrapper .bt-navigation.bt-next {right: 0;}
.slide-wrapper .bt-navigation.bt-prev::after {content: '〈';}
.slide-wrapper .bt-navigation.bt-next::after {content: '〉';}
.slide-wrapper .pager-navigation {position: absolute; z-index: 2; bottom: .5em; display: flex; justify-content: center; left: 50%; transform: translateX(-50%);}
.slide-wrapper .pager-navigation > div {font-size: 2em; color: #fff; text-shadow: 0 0 .25em rgba(0, 0, 0, 0.5); opacity: .5; cursor: pointer;}
.slide-wrapper .pager-navigation > div.active {opacity: 1; color: #fb3a21;}